@model IdentityMvcWeb.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @*<h2>@ViewBag.Title.</h2>*@

   
    @Html.ActionLink("LogIN", "Login")
    
    
     @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="container">

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="padding: 50px 0px;">
                    @Html.AntiForgeryToken()
                    <div style="border: 0px solid #4A148C; border-radius:3px; background: #fff;">
                        <div style="color:#fff; text-align: center; padding: 15px 0px; font-weight: bold;" class="schemaBGColor megaLargeText textBold">REGISTER</div>
                        @*@Html.ValidationSummary("", new { @class = "alert alert-danger" })*@ <span style="color:red">@Model.Message</span>
                        <div style="padding: 15px 10px 15px 10px;">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                            </div>
                        </div>
                        <div style="padding: 15px 10px 5px 10px;">
                            <div class="form-group">
                     @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
           @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                     @Html.ValidationMessageFor(m => m.Password)
                                </div>
                            </div>
                        </div>
                        <div style="padding: 15px 10px 5px 10px;">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </div>
                            </div>
                        </div>
                        <div style="padding: 15px 10px 5px 10px;">
                            <div class="form-group">

                                @Html.LabelFor(m => m.SelectedUserRoleId, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(Model => Model.SelectedUserRoleId, Model.RoleList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SelectedUserRoleId)
                                </div>
                            </div>
                        </div>
                        <div style="padding: 15px 10px 5px 10px;">
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <input type="submit" class="btn btn-default" value="Register" />
                                </div>
                            </div>
                        </div>
                        <div style="text-align: center; padding: 15px 0px; font-weight: bold;" class="schemaBGColor megaLargeText textBold">Welcome Online Medical World</div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    }

</div>





@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
